<div class="panel panel-default">
  <div class="panel-heading">
     <center>
      <a href="#clone/{{donne.id}}/{{donne.name}}/{{donne.type}}" class="btn btn-outline-secondary" >
        <span class="glyphicon glyphicon-search"> </span>
        Cloner
      </a>
      <a href="#edit/{{donne.id}}/{{donne.name}}/{{donne.type}}" class="btn btn-outline-secondary" >
        <span class="glyphicon glyphicon-pencil-link"> </span>
        Modifier
      </a>
      <a type="button" class="btn btn-outline-secondary">
        <span class="glyphicon glyphicon-trash"> </span>
        Supprimer
      </a>
     </center> 
  </div>
  </div>

  <div class="panel-body">

    <div class="row">
        <div class="col-md-6">

          <ul class="list-group">
            <li class="list-group-item list-group-item-success" >
              <span>id : {{donne.id}}</span>
            </li>
            <li class="list-group-item list-group-item-success">
              <span>Nom : {{donne.name}}</span>
            </li>
            <li class="list-group-item list-group-item-success">
              <span>Type : {{donne.type}}</span>
            </li>            
          </ul>

        </div>
        <div class="col-md-6 -col-md-offset-6">
           <ul class="list-group">
               <li class="list-group-item list-group-item-success">
                  <span>Regex : {{donne.regex}}</span>
              </li>
              <li class="list-group-item list-group-item-success">
                  <span>Valeur : {{donne.valeur}}</span>
              </li> 
              <li class="list-group-item list-group-item-success">
                  <span>Commentaires : {{donne.valeur}}</span>
              </li>       
           </ul>

          

        </div>

        

        <div class="col-md-8 col-md-offset-2">
           <ul class="list-group">
      
      
      <li class="list-group-item list-group-item-info">
        <table class="table table-bordered table-striped table-condensed">    
          <caption>Type de Dossier</span><caption>

            <th><center>Nom Dossier</center></th>
            <th><center>Obligatoire</center></th>
            
          
          <tr>
              
              <td><center>nom dossier</center></td>
              
              <td><center>oui ou non</center></td>

              
          </tr>

        </table>
       </li>
      

    </ul>
        </div>

        <div class="col-md-8 col-md-offset-2">
           <ul class="list-group">
      
      
      <li class="list-group-item list-group-item-info">
        <table class="table table-bordered table-striped table-condensed">    
          <caption>Type de Document</span><caption>

            <th><center>Nom Document</center></th>
            <th><center>Obligatoire</center></th>
            
          
          <tr>
              
              <td><center>nom du doc</center></td>
              
              <td><center>oui ou non</option>
                         
                    </select></center></td>

              
          </tr>

        </table>
       </li>
      

    </ul>
        </div>

      </div>
   
  </div>

  <div class="panel-footer">
    <div>
     
    </div>
  </div>
</div>