<div>
     <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Supprimez un type de dossier</h4>
        </div>
        <div class="modal-body" id="modal-body">
          <center>
            Voulez vous vraiment supprimer cette donnée?
          </center>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="send()">Oui</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Annuler</button>
        </div>
</div>