<div>
     <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Modifiez le type de dossier</h4>
        </div>
        <div class="modal-body" id="modal-body">
          <center>
            <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <label for="text"> Nom du type de dossier  </label>
              <input type="text" class="form-control" ng-model="data.nom"></input>
            </li>          
          </ul>
          <div >Statut du document: <select ng-init="statut.nom='incomplet'" ng-model="statut" ng-options="statut.nom for statut in status" placeholder="type" ng-click="" >
                  </select>
            </div> 
          </center>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="send()">Modifier</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Annuler</button>
        </div>
</div>